@media (max-width: 960px) {
    .k-header nav{
        width: 100%;
    }
    .k-header nav h1,
    .k-header nav a{
        display: inline-block;
        width: 100%;
        font-size: 24px;
        text-align: center;
        margin-left: 0;
    }
    .wrapper{
        width: 100%;
    }
    .description{
        padding-bottom: 100%;
    }
    .description-content{
        padding-bottom: 10px;
    }
    .description-content>.wrapper{
        padding-left: 0;
    }
    .text-box,
    .img-box{
        vertical-align: middle;
        display: inline-block;
        margin-left: 0px;
    }
    .text-box,
    .img-box{
        width: 100%;
        padding: 5px;
    }
    .circle{
        display: none;
    }
    .footer:before,
    .testimonials:before,
    .description:before,
    .register:before{
        display: none;
    }
    .register{
        background-color: #2a323a;
        position: relative;
        z-index: 1;
        padding-top: 350px;
        overflow: hidden;
    }
    .testimonials-col-left+.testimonials-col-right{
        margin-left: 0;
    }
    .testimonials-col-left,
    .testimonials-col-right{
        padding: 5px;
        width: 100%;
        text-align: right;
        float: left;
        vertical-align: middle;
    }
    .footer-col-left,
    .footer-col-mid,
    .footer-col-right{
        width: 100%;
        margin-left: 0;
        text-align: center;
        padding: 10px;
    }
    .footer{
        padding-top: 0;
    }

}